[package]
name = "cargo-pros"
version = "0.3.0"
edition = "2021"
authors = [
    "pros-rs",
    "Gavin Niederman <gavinniederman@gmail.com>",
    "doinkythederp <doinkythederp@icloud.com>",
]
license = "MIT"
description = "A cargo subcommand for managing PROS projects"
repository = "https://github.com/pros-rs/cargo-pros"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cargo-subcommand-metadata = "0.1.0"
cargo_metadata = "0.18.0"
cfg-if = "1.0.0"
fs-err = "2.9.0"
home = "0.5.5"
serde_json = "1.0.106"
clap = { version = "4.4.2", features = ["derive"], optional = true }

[features]
default = ["clap"]
clap = ["dep:clap"]

[[bin]]
name = "cargo-pros"
required-features = ["clap"]
